#gameInfoContainer{
    text-align: center;
}

#button-container{
    text-align: center;
    width: 100%;
}

p{
    text-align: center;
}

#button-container div{
    width: 40%;
    min-width: 40%;
    max-width: 40%;
    
    height: 150px;
    min-height: 15%;
    max-height: 15%;

    display:inline-block;

    margin: 1%;
}

#button-container div:hover{
    box-shadow: 10px 5px 5px lightgray;
}

#red{
    border: solid 1px red;
}

#blue{
    border: solid 1px blue;
}

#green{
    border: solid 1px green;
}

#yellow{
    border: solid 1px yellow;
}

ul{
    list-style-type: none;
}