<template>
  <div class="GameList">
    <ul>
      <li><router-link v-bind:to=path>Super simon !</router-link></li>
    </ul>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      path: '/superSimon',
      name: 'super simon',
      // route level code-splitting
      // this generates a separate chunk (about.[hash].js) for this route
      // which is lazy-loaded when the route is visited.
      component: () => import(/* webpackChunkName: "about" */ '../views/SimonRunner.vue')
    }
  }
}
</script>