<template>
<div id="class-container">
    <level-information ref="levelInformation"></level-information>
    <start-button ref="startButton" v-on:start-game="runGame"></start-button>
    <hr/>
    <div id="button-container" v-show="gameIsRunning" >
        <simon-button v-on:round-winned="nextRound" v-on:round-failed="initGame" ref="simonButton" v-for="color in colors" v-bind:key="color.id" v-bind:button="color"></simon-button>
    </div>  
</div>  
</template>

<script>
import levelInformation from '../components/levelInformation.vue'
import startButton from '../components/startButton.vue'
import simonButton from '../components/simonButton.vue'

export default {
  components: {
    'level-information': levelInformation,
    'start-button': startButton,
    'simon-button': simonButton
  },
  data: function(){
    return {
      colors:[
          {
            colorName:"red",
            highlight:false,
            song:new Audio("audios/red.mp3"),
            id: 0
          },
          {
            colorName:"green",
            highlight:false,
            song:new Audio("audios/green.mp3"),
            id: 1
          },
          {
            colorName:"yellow",
            highlight:false,
            song:new Audio("audios/yellow.mp3"),
            id: 2
          },
          {
            colorName:"blue",
            highlight:false,
            song:new Audio("audios/blue.mp3"),
            id: 3
          },
        ],
        gameIsRunning: false,
        isPlayerTurn: false,
        informationMessage: "",
        playOrder: [],
        currentRoundOrder: [],
        shownTime: 600
      }
    },
    methods:{
        runGame: function(){
            console.log(this.$refs);

            this.informationMessage = "";
            this.gameIsRunning = true;
            
            this.playOrder.push(this.getRandomInt(this.colors.length));

            this.currentRoundOrder = Array.from(this.playOrder);
            for(let i = 0 ; i < this.currentRoundOrder.length; i++){
                let currentIndice = this.currentRoundOrder[i];

                setTimeout(()=>{
                    this.$refs.simonButton[currentIndice].highlight();
                }, this.shownTime * i);

                setTimeout(()=>{
                    this.$refs.simonButton[currentIndice].unhighlight();

                    if(i == this.$refs.levelInformation.level - 1)
                    {
                        this.isPlayerTurn = true;
                    }
                }, this.shownTime * i + 300);
            }
        },
        getRandomInt: function(max) {
            return Math.floor(Math.random() * Math.floor(max));
        },
        initGame:function(){
            this.playOrder = [];
            this.gameIsRunning = false;
            this.isPlayerTurn = false;
            this.$refs.levelInformation.level = 1;
            this.$refs.startButton.canStartLevel = true;
        },
        nextRound:function(){
            this.gameIsRunning = false;
            this.isPlayerTurn = false;

            this.$refs.levelInformation.level ++;
            this.$refs.startButton.canStartLevel = true;

            this.shownTime = this.shownTime * 0.98;
            this.informationMessage = "You win this round!";
        }
    }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
