<template>
    <div>
        <p>level : {{ level }}</p>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                level : 1
            }
        },
        methods:{
            toto:function(){
                console.log(1);
            }
        }
    }
</script>