<template>
    <div v-bind:id="button.colorName" v-on:click="buttonClicked" v-bind:style="button.highlight ?  { backgroundColor: button.colorName } : {}" noselect></div>
</template>

<script>
export default {
    props: ['button'],
    methods:{
        buttonClicked:function(){
            if(this.$parent.isPlayerTurn)
            {
                this.$parent.informationMessage = "";

                this.button.song.play();
                this.button.highlight = true;
                
                setTimeout(() => {
                    this.button.highlight = false;
                }, 75);

                if(this.button.id != this.$parent.currentRoundOrder.shift())
                {
                    this.$emit("round-failed");
                    this.$parent.informationMessage = "round failed";
                    return;
                }

                if(this.$parent.currentRoundOrder.length == 0){
                    this.$emit("round-winned");
                }
            }
            else
            {
                this.$parent.informationMessage = "Wait your turn :)";
            }
        },
        highlight: function(){
            // this.button.song.play();
            this.button.highlight = true;
        },
        unhighlight: function(){
            this.button.highlight = false;
        },
    }
}
</script>