<template>
    <div id="button-container" v-show="canStartLevel">
        <button v-on:click="disableButton">{{ text }}</button>
    </div>
</template>

<script>
export default {
    data: function(){
        return {
            text: 'Start Game',
            canStartLevel: true
        }
    },
    methods:{
        disableButton: function(){
            this.canStartLevel = false;
            this.$emit('start-game');
        }
    }
}
</script>